{% extends 'base.html' %}

{% block content %}
<h1>Change password</h1>
{% if validlink %}

  <p>Type in new password two times</p>
  <form action="" method="post">
      {% csrf_token %}
      <table>
      <tr>
        <td>New password:</td>
        <td>{{ form.new_password1 }}</td>
        <td>{{ form.new_password1.errors }}</td>
      </tr>
      <tr>
        <td>Repeat new password:</td>
        <td>{{ form.new_password2 }}</td>
        <td>{{ form.new_password2.errors }}</td>
      </tr>
      </table>
        <input class="btn btn-outline-success" type="submit" value="Change password">

  </form>
{% else %}
  <p>Password reset code is not valid please try again, or some other error.</p>
{% endif %}

{% endblock %}