{% extends 'base.html' %}

{% block content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Order Confirmation</title>

    <div class="container">
        <h2>Thank you for your order, {{ user.username }}!</h2>
        <p>Your order has been successfully placed. Below are the details of your order:</p>

        <h3>Order Number: {{ order.id }}</h3>
        <table class="order-details" width="100%">
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            {% for item in order.orderitem_set.all %}
            <tr>
                <td>{{ item.products.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.products.one_price }} EUR</td>
            </tr>
            {% endfor %}
        </table>

        <p><strong>Total:</strong> {{ order.total_price }} EUR</p>
        <p>We have sent the payment instructions to your email. Please follow the instructions to complete the payment.</p>

        <p class="footer">If you have any questions, feel free to contact us.</p>
    </div>
{% endblock %}
