{% extends 'base.html' %}
{% load static %}
{% block title %}Product details - E-shop{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            {% if product.foto %}
                <img class="img-fluid" src="{{ product.foto.url }}" alt="{{ product.name }}"/>
            {% else %}
                <img class="img-fluid" src="{% static 'img/no-image.png' %}" alt="No image available"/>
            {% endif %}
        </div>
        <div class="col-md-6">
            <h2>{{ product.name }}</h2>
            <p><strong>Price:</strong> {{ product.one_price }} Eur</p>
            <p><strong>Available:</strong> {{ product.stock_quantity }} pcs.</p>
            <p><strong>Description:</strong> {{ product.description }}</p>
            <p><strong>Category:</strong>
                <a href="{% url 'category_products' product.categories.id %}">
                {{ product.categories.name }}
                    <form method="POST" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                </a>
            </p>
        </div>
    </div>
</div>
<a href="javascript:history.back()" class="btn btn-primary">Back</a>
<a href="{% url 'products' %}" class="btn btn-primary">All Products</a>
<a href="{% url 'home' %}" class="btn btn-primary">Main page</a>
{% endblock %}
