{% extends 'base.html' %}

{% block title %}Profile - E-shop{% endblock %}

{% block content %}
  <h2>{{ user.username }}'s Profile</h2>
  <img src="{{ user.profile.picture.url }}" alt="{{ user.username }}'s profile picture" class="rounded-circle">

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
      <label >First name:</label>
      {{ c_form.first_name }}
    </div>

    <div class="form-group">
      <label>Last name:</label>
      {{ c_form.last_name }}
    </div>

    <div class="form-group">
      <label>Email:</label>
      {{ u_form.email }}
    </div>

    <div class="form-group">
      <label>Profile Picture</label>
      {{ p_form.picture }}
    </div>

    <div class="form-group">
      <label>Address:</label>
      {{ c_form.address }}
    </div>

    <div class="form-group">
      <label>Phone Number:</label>
      {{ c_form.phone_number }}
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-outline-success">Save changes</button>
      <a href="{% url 'home' %}" class="btn btn-outline-primary">Main page</a>
    </div>
  </form>

{% endblock %}